.btn {
    width: 100px;
    height: 38px;
    background-color: #6C63FF;
    border-radius: 5px;
    border: none;
    color: white;
} 

.inputBtn {
    display: flex;
    justify-content: space-between;
    max-width: 780px;
}

.glavInput {
    width: 656px;
    height: 38px;
    border: 1px solid #6C63FF;
    border-radius: 5px;
}

.glavInput:focus {
    outline: none;
}
